.all-album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

div.eachalbum {
    width: 25%;
    /* height: fit-content; */
    padding: 10px;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: #E5E8E8 solid 1px;
    border-radius: 10%; */
    font-size: 20px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: black;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

#eachalbum {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    flex: 0 32%;
    height: 150px;
    margin-bottom: 2%;
    gap: 5px;
}

div.eachsong:hover {
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
    box-shadow: 10px 10px rgba(211, 84, 0, .5);
    cursor: pointer;
}

div.album-page {
    height: 100%;
    width: 100%;
}

div.album-page {
    height: 100%;
}

div.album-details {
    width: 50%;
    display: block;
    /* grid-template-rows: (4, 1fr); */
    /* gap: 5px; */
    /* grid-auto-flow: row; */
    position: static;
    margin: 2px;
    top: 800px;
    height: 300px;
    margin: auto;
    border-style: black 5px solid;
    height: 100%;
    size: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}

div.album-songs {
    /* width: 50%; */
    display: block;
    /* grid-template-rows: (4, 1fr); */
    /* gap: 5px; */
    /* grid-auto-flow: row; */
    position: static;
    margin: 2px;
    top: 800px;
    height: 300px;
    margin: auto;
    border-style: black 5px solid;
    height: 100%;
    size: 20px;
    box-sizing: border-box;
    /* padding: 20px; */
    background-color: white;
}

img.album-cover {
    /* width: 50%; */
    width: 30px;
    position: relative;
    align-items: center;
    top: 0px;
    right: 20px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    /* background-color: aqua; */
}

form #new-album-form {
    padding: 10px;
    margin: 10px;
    gap: 10px;
}
