.comment-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 22px;
}

.comment-top-box{
    width: 100%;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin: 0px 0px 30px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding: 8px;
    background-color: #f1f1f1;
}

.comment-top-box>input{
    /* padding: 0px; */
    margin: 0px;
    width: 100%;
    min-height: 3em;

}

.comment-top-box> button{
    font-size: 20px;
    padding: 5px 15px;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    background-color: #909090;
    color: white;
    border-style: none;
}

.comment-count{
    color: grey;
}

.each-comment{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    border-bottom: 1px lightsalmon solid;
}
.each-comment-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ago-box{
    text-align: right;
}

.edit-delete-box{
    text-align: right;
    min-height: 2em;
}

.edit-delete-box>button{
    border-style: none;
    background-color: transparent;
}
