form {
    justify-content: left;
    /* margin: auto; */
    list-style-type: none;
    position: static;
    top: 50%;
    width: 600px;
    height: max-content;
    /* overflow: auto; */
    align-items: center;
    flex-direction: column;
    display: flex;
}


form li {
    font-size: medium;
    color: black;
    justify-content: center;
}

#new-song-form {
    margin: auto;
    margin-top: 10%;
}

#new-song-form li {
    float: left;
    display: block;
    font-size: medium;
    justify-content: left;
    margin: auto;
    list-style-type: none;
    position: static;
    top: 90px;
    height: max-content;
    align-items: center;
    flex-direction: column;
    float: left;
    color: black;
}

#new-album-form {
    margin: auto;
    margin-top: 10%;
    /* position: absolute;
    top: 35%;
    left: 35%; */

}

#new-album-form li {
    float: left;
    display: block;
    font-size: medium;
    justify-content: left;
    margin: auto;
    list-style-type: none;
    position: static;
    top: 90px;
    height: max-content;
    align-items: center;
    flex-direction: column;
    float: left;
    color: black;
}

#edit-album-form li,
#edit-album-form ul {
    float: left;
    display: block;
    font-size: medium;
    justify-content: left;
    margin: auto;
    list-style-type: none;
    position: static;
    top: 90px;
    height: max-content;
    align-items: center;
    flex-direction: column;
    float: left;
    color: black;
    text-align: left;
}

div#buttons.button-container {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-container {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#edit-album-form,
#edit-song-form{
    margin: auto;
    position: static;
    margin-top: 10%;
}
