body,
html {
    height: max-content;
}

head,
ul,
body {
    justify-content: left;
    margin: auto;
    list-style-type: none;
    height: 100%;
}

ul {
    justify-content: left;
    margin: auto;
    list-style-type: none;
}

body {
    width: 100%;
    border-top: 4px solid #f50;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    /* text-align: center; */

}

div.buttomnav {
    right: 2px;
    display: flex;
    text-align: right;
    align-items: flex-end;
    color: white;
    background-color: black;
}

a.back-to-top {
    background-color: black;
    color: white;
}


label {
    width: 100%;
    /* border-top: 4px solid #f50; */
    /* display: flex; */
    align-items: flex-end;
    flex-direction: row;
    text-align: center;

}

.profile-dropdown {
    position: absolute;
    right: 10%;
    background-color: white;
    height: max-content;
}

div#topnav-container {
    /* border: solid 3px #f50; */
    /* position: fixed;
    width: 100%; */
    top: 30px;
    justify-content: left;
    width: 90%;
    text-align: center;
    justify-content: space-evenly;
    display: inline-block;
    zoom: 1;
    width: 100%;
    height: 35px;
    /* left: 0px;
    list-style: none;
    color: white; */
    /* background: url(https://miro.medium.com/max/1400/1*FEZUIg9R5gaEKsCCq8VabQ.png) 60%/cover no-repeat; */
    background-color: black;
    overflow: hidden;
}

#topnav-container a {
    position: relative;
    top: 0;
    float: left;
    text-align: center;
    padding: 0% 4%;
    color: white;
    background-color: black;
    border-radius: 10%;
    border-style: white solid 1px;
    /* margin: 2.7em; */
    text-decoration: none;
    font-size: 22px;
    flex: 1;
    vertical-align: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    overflow: hidden;
}

#topnav-container a:hover {
    background-color: #7B241C;
    color: white;
}

#user-dropdown,
#profile-dropdown {
    color: black;
    position: relative;
    /* display: flex;
    align-items: flex-end; */
    size: 10px;
}

/* button.logout-button {
    size: 20px;
} */

li {
    padding: 5px;
    margin: 5px;
    /* top: 20px; */
    font-size: 20px;
    position: relative;

}

#topnav-container button {
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid 1px white;
    /* margin: 1px; */
    padding-bottom: 0px;
    right: 5px;
}

a {
    /* background-color: rgba(255, 85, 0, 0.2); */
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid 3px white;
    margin: 5px;
    /* height: 13px; */
}
