.playlist-container {
    min-height: 100vh;
}

.myplaylist-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    font-size: 24px;
    min-height: 100vh;
}


.mylist-one,
.mylist-two {
    width: 100%;
    object-fit: cover;
    height: fit-content;
    padding: 4em;
}

.mylist-two>form {
    width: 100%;
    border-style: none;
}

.mylist-two>form>input {
    margin: 5px;
    padding: 10px;
}

.mylist-two>form>div {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

.mylist-one>img {
    width: 100%;
    height: 100%;
}

.mylist-right-no,
.mylist-right-yes {
    width: 100%;
    padding: 60px 7em;
    text-align: left;
    /* background: #f4f4f4 */
    background-color: rgb(238, 238, 238);
}

.mylist-right-no,
.mylist-right-yes>div>a {
    color: black;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    font-family: unset;
}

.mylist-right-yes-each {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    position: relative;
    margin: 10px 0px;
}

.mylist-yes-details {
    width: 100%;
    border-bottom: solid .5px lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mylist-yes-details>a {
    color: black;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    font-family: unset;
}


.mylist-yes-remove>button {
    font-size: 19px;
    background-color: transparent;
    border-color: burlywood;
    color: orange;
    border-radius: 10px;
}

.mylist-yes-details>button {
    font-size: 19px;
    background-color: transparent;
    color: orange;
    border-style: none;
    margin: 0px 10px;

}


/* my plsylist home page */
.playlist-home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    min-height: 100vh;
}

.playlist-home-container-left {
    box-sizing: border-box;
    align-items: center;
    background-color: #f1f1f1;
}

.playlist-home-container-left>form {
    width: 100%;
    border-style: none;
    padding: 85px 15px;
    margin: 0% 0px;
    top: 50%;
    text-align: center;
    /* background-color: rgb(255,255,255,0.2); */
    background-color: transparent;
}

.playlist-home-container-left>form>input {
    width: 100%;
    margin: 10px 0px;

}

.playlist-home-container-right {
    padding: 20px 30px;
    width: 100%;
}

.myplaylist-summary {
    margin-top: 40px;
    font-size: 26px;
}

.eachplaylist {
    width: 100%;
    margin: 30px 0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #f1f1f1;
}

.eachplaylist-img {
    height: 100%;
    width: 90px;
    background-color: white;
    overflow: hidden;
    object-fit: cover;
    margin-right: 30px;
}

.eachplaylist-img>img {
    height: 100%;
    /* object-fit: cover; */
}

.eachplaylist-name {
    width: 700px;
    display: flex;
    align-items: center;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.eachplaylist-name>a {
    font-size: 24px;
    text-decoration: none;
}

.eachplaylist-name>a:hover {
    color: orangered;
    text-decoration: underline;

}

.eachplaylist-delete {
    font-size: 26px;
    display: flex;
    align-items: center;
    width: 180px;
}

.eachplaylist-delete>button {
    font-size: 18px;
    padding: 10px 5px;
    border-style: none;
    border-radius: 5px;
    color: black;
}

.eachplaylist-delete>button:hover {
    color: orangered;
}


/* playlist toggle  */

/* .about-butt {
    background-color: black;
    color:chocolate;
    font-size: 22px;
    margin: 0px 40px;
    border-style: none;
} */
.playPlaylist-component {
    height: 50px;
    left: -15px;
    position: relative;
    text-align: center;
    width: 100%
}

.playPlaylistButt {
    left: 0px;
    position: absolute;
    margin: auto;
    font-size: 50px;
    border-radius: 50% 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(238, 238, 238, .85);
    color: orangered;
    border-style: none;
}

.playlist-closebtn {
    position: absolute;
    right: 0px;
    top: -30px;
    font-size: 10px;
    padding-left: 5px;
}

.playlist-closebtn:hover {
    cursor: pointer;
}

.playPlaylistButt:hover {
    color: orange;
}

#playlistSidenav {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    background-color: white;
    /* overflow-x: hidden; */
    transition: 0.3s;
    padding-top: 20px;
    padding-left: 30px;
}

#playlistSidenav>img {
    width: 100%;
}

.mylist-right-yes-side {
    margin-top: 30px;
    text-align: left;
    min-width: 100%;
    padding-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#playlistSidenav a {
    padding: 30px 5px 5px 2px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
}

#playlistSidenav>a {
    font-size: 30px;
    margin-bottom: 20px;
}

#playlistSidenav a:hover {
    color: orangered;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
