.playlist-container {
    min-height: 100vh;
}

.myplaylist-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    font-size: 24px;
    min-height: 100vh;
}


.mylist-one,
.mylist-two {
    width: 100%;
    object-fit: cover;
    height: fit-content;
    padding: 30px;
}

.mylist-two>form {
    width: 100%;
    border-style: none;
}

.mylist-two>form>input {
    margin: 5px;
    padding: 10px;
}

.mylist-two>form>div {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

.mylist-one>img {
    width: 100%;
    height: 100%;
}

.mylist-right-no,
.mylist-right-yes {
    width: 100%;
    padding: 60px 30px;
    text-align: left;
    background: rgb(98, 96, 96);
    background: radial-gradient(circle, rgba(98, 96, 96, 1) 0%, rgba(66, 66, 66, 1) 100%);
}

.mylist-right-no,
.mylist-right-yes>div>a {
    color: white;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    font-family: unset;
}

.mylist-right-yes-each {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    position: relative;
    margin: 10px 0px;
}

.mylist-yes-details {
    width: 100%;
    border-bottom: solid .5px lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mylist-yes-details>a {
    color: white;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    font-family: unset;
}


.mylist-yes-remove>button {
    font-size: 19px;
    background-color: transparent;
    color: orange;
    border-radius: 10px;
}

.mylist-yes-details>button {
    font-size: 19px;
    background-color: transparent;
    color: orange;
    border-style: none;
    margin: 0px 10px;

}


/* my plsylist home page */
.playlist-home-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: left;
}
.playlist-home-container-left{
    width: 100%;
    background-color: aquamarine;
    box-sizing: border-box;
    align-items: center;
}
