@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Bitter:wght@100;200;400&family=Grape+Nuts&family=Macondo&family=Manrope:wght@200&family=Square+Peg&family=Syncopate&display=swap');

html,
input,
textarea,
select,
a {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: navy;
  margin: 0;
  /* padding: 1px; */
  align-items: left;
}

#root {
  /* width: 600px; */
  min-height: 100vh;
  width: 100%;
  margin: 0px 18%;
  background-color: white;
}

body {
  /* width: 90%; */
  position: static;
  /* flex-direction: column; */
  align-items: left;
  color: black;
  align-items: left;
  background-color: lightgray;
}

#sign-up-form {
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  gap: 4px;
  width: 70%;
  height: 100%;
  padding: 10px;
  margin: 5px;
  align-items: left;
  align-items: center;
  flex-direction: column;
}

input,
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: left;
}
