/* .content {
    display: flex;
    flex-direction: row;
} */
/* #song-container {
    width: 80%;
    display: grid;
    grid-template-rows: (4, 1fr);
    gap: 5px;
    position: fixed;
    grid-auto-flow: row;
    margin: 2px;
    top: 800px;
    height: fit-content;
    margin: auto;
    border-style: black 5px solid;
    height: 60%;
    size: 30px;
}

#eachsong {
    size: 20px;
    border: solid brown 5px;
} */

.all-song-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#eachsong {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
    flex: 0 32%;
    height: 150px;
    margin-bottom: 2%;
}

audio {
    background-color: rgba(241, 243, 244, 255);
}
