#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: left;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: relative;
  align-items: center;
  /* z-index: 0; */
  background-color: white;
  height: 0px;
  background-color: rgba(0, 0, 0, 0);
  list-style-type: none;
}
