@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Bitter:wght@100;200;400&family=Grape+Nuts&family=Macondo&family=Manrope:wght@200&family=Square+Peg&family=Syncopate&display=swap');

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

body,
head,
ul,
body {
    justify-content: left;
    margin: auto;
    list-style-type: none;
}

html {
    height: 100%;
    margin: auto;
    position: relative;
    min-height: 100vh;
    background-color: #E1E8EE;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

body,
head {
    justify-content: center;
    margin: auto;
    width: 90%;
    display: flex;
    box-sizing: border-box;
}

body {
    width: 90%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* text-align: left; */
    box-sizing: border-box;

}

div {
    /* height: 100px; */
    top: 30px;
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
}


form {
    justify-content: center;
    margin: auto;
    width: 90%;
    display: flex;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 90%);
    gap: 3px;
    width: 90%;
    height: 80%;
    margin: 20px;
    padding: 20px;

}

/* @media only screen and (max-width: 1026px) {
    #topnav-container {
        display: none;
    }
} */


div.public-present {
    padding: 10%;
    height: 100%;
}

div.public-home {
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.public-down {
    padding: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#home-middle {
    height: max-content;
}

div#buttomnav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
}

img.landing-pic {
    width: 100%;
    /* height: 100%; */
    /* width: 1268px */
}

img.landing-box-pic {
    width: 100%;
}
