@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Bitter:wght@100;200;400&family=Grape+Nuts&family=Macondo&family=Manrope:wght@200&family=Square+Peg&family=Syncopate&display=swap');

html {
    background-color: #D5D8DC;
    list-style-type: none;
    /* background-color: black; */
}

html,
body,
div #root {
    min-height: 100%;
    /* height: 100%; */
    padding: 0;
    margin: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    list-style-type: none;

}

body {
    min-height: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* text-align: left; */
    box-sizing: border-box;

}

div {
    /* top: 30px; */
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
}


form {
    justify-content: center;
    margin: auto;
    width: 90%;
    display: flex;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 90%);
    gap: 3px;
    width: 90%;
    height: 80%;
    margin: 20px;
    padding: 20px;

}

/* @media only screen and (max-width: 1026px) {
    #topnav-container {
        display: none;
    }
} */


div.public-present {
    padding: 10%;
    height: 100%;
}

div.public-home {
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.landing-box {
    position: relative;
}

div.landing-box-content {
    color: white;
    padding: 40px;
    margin: 30px;
    font-size: 26px;
    font-weight: 800px;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


img.landing-box-pic {
    width: 100%;
}

div#home-middle {
    height: max-content;
}

div#buttomnav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
}

img.landing-pic {
    width: 100%;
    /* height: 100%; */
    /* width: 1268px */
}

button.login-button {
    position: absolute;
    float: right;
    margin: 0 5%;
    height: 30px;
}


div.log-in-form {
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px; */
    /* width: 100%; */
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 20%;
    /* left: 50%; */

}

form.sign-up-form {
    padding: 40px;
    margin: 110px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

form.sign-up-form>li {
    size: 60px;
}
