@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Bitter:wght@100;200;400&family=Grape+Nuts&family=Macondo&family=Manrope:wght@200&family=Square+Peg&family=Syncopate&display=swap');
@import 'react-round-carousel/src/index.css';

html {
    background-color: #D5D8DC;
    list-style-type: none;
    /* max-height: 100vh; */
}

html,
body {
    /* max-height: 100vh; */
    padding: 0;
    margin: 0;
}

#root {
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 1200px; */
    font-family: 'Manrope', sans-serif;
    list-style-type: none;

}


#home-middle > div.carousel_container > div.carousel > div > div{
    transform: translateZ(-528px) rotateY(330deg);
    
}
.carousel__container{
    height: 20em;
    padding-top: 2em;
    background-color: aquamarine;
    transform: translateZ(-528px) rotateY(350deg);
    /* transform: unset; */

}



div.carousel_container > div.carousel__slide> div.carousel__slide-overlay{
    transform: rotateY(330deg) translateZ(528px);
}

.carousel__slide-overlay {
    color: #fff;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

body {
    min-height: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* text-align: left; */
    box-sizing: border-box;

}




div {
    /* top: 30px; */
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
}


form {
    justify-content: center;
    margin: auto;
    width: 90%;
    display: flex;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 90%);
    gap: 3px;
    width: 90%;
    height: 80%;
    margin: 20px;
    padding: 20px;

}

/* @media only screen and (max-width: 1026px) {
    #topnav-container {
        display: none;
    }
} */


div.public-present {
    padding: 10%;
    height: 100%;
}

div.public-home {
    /* padding: 2%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    /* overflow-y: scroll; */
}

#home-middle>div.public-home>div:nth-child(1) {
    position: absolute;
    top: 3.5em;
    color: white;
    font-size: 3.8em;
    font-weight: 700;
    width: 100%;
    flex-wrap: nowrap;
    text-shadow: 1px 1px 2px rgb(14, 12, 12), 0 0 1em rgb(210, 204, 204), 0 0 1em black;
}

#home-middle>div.public-home>div:nth-child(2) {
    position: absolute;
    top: 13.8em;
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgb(18, 16, 16), 0 0 1em rgb(215, 203, 203), 0 0 0.1em rgb(252, 246, 246);
}

.home-signup {
    color: rgb(244, 158, 11);
    font-size: .7em;
    font-weight: 100;
    /* text-decoration: none; */
}

#home-middle>div.public-home>h2 {
    position: absolute;
    top: 2.3em;
    color: white;
    font-size: 2.9em;
    font-weight: 100;
    width: 100%;
    flex-wrap: nowrap;
}

.all-home-song-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    /* max-width: 1000px; */
    /* margin: 30px 1em; */
    /* overflow-x: scroll; */
    margin-bottom: 60px;
    padding: 20px 8em;
}

div.eachhomesong {
    width: 9%;
    height: 180px;
    /* height: fit-content; */
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: #E5E8E8 solid 1px;
    border-radius: 10%; */
    font-size: 18px;
    position: relative;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: black;
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .15); */
    transition: all .4s ease;
    /* position: relative; */
}

.eachhomesong>img {
    position: absolute;
    /* height: 120px;
    width: 120px; */
    /* height: 100%; */
    width: 100%;

}

.home-songplay-button {
    /* position: absolute; */
    /* height: 90%;
    width: 100%; */
    background-color: transparent;
    color: transparent;
    font-size: 60px;
    border-color: transparent;
}

.home-songplay-button:hover {
    color: rgba(249, 105, 14);
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.home-song-title {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-song-title>a {
    font-size: 1em;
    color: rgb(156, 101, 0);
    text-decoration: none;
}

.home-song-title>a:hover {
    color: orange;
}

div.landing-box {
    position: relative;
}

div.landing-box-content {
    color: white;
    padding: 40px;
    margin: 30px;
    font-size: 26px;
    font-weight: 800px;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


img.landing-box-pic {
    width: 100%;
}

div#home-middle {
    /* min-height: 100vh; */
    align-items: center;
    /* padding-top: 7em; */
    margin: auto;
}



div#buttomnav {
    bottom: 0;
    position: absolute;
    min-height: 100%;
    z-index: 150;

}

img.landing-pic {
    width: 100%;
    object-fit: cover;
    /* bottom: 0; */
    object-fit: contain;
    bottom: 0;
}

button.login-button {
    /* position: absolute; */
    right: 0px;
    margin: 0 1%;
    height: 30px;
    min-width: 85px;
    background-color: black;
    color: white;
    font-size: 21px;
    margin-top: 2px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

div.log-in-form {
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px; */
    width: fit-content;
    justify-content: center;
    margin-top: 30%;
    margin: 10em auto;
    /* position: relative; */

    /* left: 50%; */

}

form.sign-up-form {
    padding: 40px;
    margin: 110px auto auto;
    width: 480px;
    display: flex;
    flex-direction: column;
}

form.sign-up-form>li {
    size: 60px;
}
