
body,
head,
ul,
form,
body {
    justify-content: left;
    margin: auto;
    list-style-type: none;
}

html {
    height: max-content;
}

body {
    width: 100%;
    border-top: 4px solid #f50;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    text-align: left;

}

div {
    /* height: 100px; */
    top: 30px;
    justify-content: left;
    width: 100%;
    padding: 5px;

}

#topnav {
    /* border: solid 3px #f50; */
    /* position: fixed;
    width: 100%; */
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    /* left: 0px;
    list-style: none;
    color: white; */
    /* background: url(https://miro.medium.com/max/1400/1*FEZUIg9R5gaEKsCCq8VabQ.png) 60%/cover no-repeat; */
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
}

form {
    position: relative;
    top: 90px;
    width: 400px;
    height: max-content;
    overflow: auto;
    align-items: left;
    flex-direction: column;

}

#user-dropdown,
#profile-dropdown {
    color: black;
    position: relative;
    /* display: flex;
    align-items: flex-end; */
    size: 10px;
}

li {
    padding: 5px;
    margin: 5px;
    /* top: 20px; */
    font-size: 20px;
    position: relative;

}

button {
    background-color: rgba(255, 85, 0, 0.7);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid 3px white;
    margin: 5px;
    /* height: 13px; */
}

a {
    background-color: rgba(255, 85, 0, 0.2);
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid 3px white;
    margin: 5px;
    /* height: 13px; */
}
